<div class="row">
    <div class="col">
        <samp>
            <time datetime="{{ page.date | datetime | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %e, %Y" }}</time>
        </samp>
        <h1 class="title" itemprop="name">
            {% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}
        </h1>
        <samp>
            <ul class="list-unstyled">
                <li>By: {% if page.author %} {{ page.author }} {% else %} {{ site.author }} {% endif %}</li>
                <li>{{ page.tags[0] }}</li>
            </ul>
        </samp>
    </div>
</div>

<div class="row">
    <div class="col">
        {% unless page.sharing == false %}
        {% include post/sharing.html %}
        {% endunless %}
    </div>
</div>

<div class="row">
    <div class="col">
        <div itemprop="articleBody">
            {{ content }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        {% unless page.sharing == false %}
        {% include post/sharing.html %}
        {% endunless %}
    </div>
</div>

<div class="row">
    <div class="col">
        <h6>Contact the Author: <a href="#">Email</a> or <a href="#">Twitter</a></h6>
    </div>
</div>

<div class="row">
    <div class="col">
        <h4 class="text-uppercase font-weight-light">Tags</h4>
        <hr />
        {% for tag in page.tags %}
            <div class="h4 d-inline">
                <span class="badge badge-secondary">{{ tag }}</span>
            </div>            
        {% endfor %}
    </div>
</div>