<div class="container">
	<div class="row">
		<div class="col">
			<h1><a href="{{ site.baseurl }}/" class="text-dark">The 73rd Page</a></h1>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col">
			<nav id="main-nav">
				<ul class="nav justify-content">
					<li class="nav-item">
						<a class="nav-link text-dark" href="{{ site.baseurl }}/about/">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" href="{{ site.baseurl }}/blog/">Blog</a>
					</li>
					{% if site.feature_toggles.show_contact_link %}
					<li class="nav-item">
						<a class="nav-link text-dark" href="https://github.com/703group/The-Bear-and-the-Frog/issues/new">Contact</a>
					</li>
					{% endif %}
				</ul>
			</nav>
		</div>
	</div>
</div>
