---
layout: default
---

<div class="row">
        <div class="col">
                <article class="mt-3" itemscope itemtype="http://schema.org/BlogPosting">
                        {% include article.html %}
                </article>
                
                {% if site.disqus_short_name and page.comments == true %}
                <section id="comment">
                        <h1 class="title">Comments</h1>
                        <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
                </section>
                {% endif %}
        </div>
</div>

